.container {
    margin-top: 1em;
  }
  
  .toast-body {
    cursor: pointer;
  }
  
  .clr {
    display: block;
    text-align: right;
  }
  
  .toast-body a {
    display: inline-block;
    text-decoration: none;
    text-align: right;
  }
  
  .toast {
    width: 100%;
    margin-bottom: 1.5em;
  }
  
  .events .row {
    margin-bottom: 0.5em;
  }
  
  .img {
    display: block;
    margin: auto;
    width: 80px;
  }
  
  p {
    margin: 0;
  }
  
  .italics {
    font-style: italic;
    font-weight: 600;
  }
  
  .lol {
    width: 100%;
    height: 480px;
    overflow-y: auto;
  }
  
  .videoText {
    text-align: center;
    margin: auto;
    color: white;
    vertical-align: middle;
    line-height: 480px;  
  }
  
  .player {
    width: 640px;
    height: 480px;
    background-color: rgba(0, 0, 0, 0.849);
    margin-bottom: 0.65em;
  }
  
  .notis {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  
  .hide {
    display: none;
  }